* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: 'horizon';
    src: url('fonts/horizon.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-family: 'superbrigade';
    src: url('fonts/superbrigade.ttf') format('truetype');
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

h1, h2, p {
    margin: 0;
}

h1 { 
    padding: 50px;
    font-size: 60px;
}

.hero .about-us-main {
    width: auto; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
}

img {
    max-width: 100%;
    height: auto;
}

.who-we-are {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin: 0 auto;
    max-width: 80%;
}

.who-we-are h2 {
    font-family: 'superbrigade';
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

.who-we-are p {
    font-family: 'horizon';
    text-align: center;
}

section {
    margin-bottom: 40px;
}

.description {
    white-space: normal;
    max-width: 100%;
}

.vision-section {
    position: relative;
    width: 100%;
}

.promise-image {
    width: 100%;
    height: auto;
    display: block;
}

.vision-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-family: 'horizon';
    text-align: center;
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    justify-content: center;
    width: 80%; /* Optional: controls text width */
}

.vision-image {
    width: 100%;
    height: auto;
    max-height: 100%;
}

.vision-text h2 {
    font-family: 'superbrigade';
    margin-bottom: 20px;
    font-size: 40px;
}

.vision-text .contact {
    height: 75px;
    position: relative;
    bottom: 450px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 17px;
    color: white;
    background: transparent;
    border: 2px solid white;
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.5s;
    font-family: 'superbrigade';
    top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.vision-text .contact:hover {
    background: linear-gradient(45deg, blue, purple);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
}

.promise-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Responsive design - mobile. */
@media (max-width: 768px) {

    body {
        padding: 0px;
        text-align: center;
        width: 100%;
    }

    .who-we-are h2 {
        font-size: 28px;
    }

    .who-we-are p {
        font-size: 10px;
    }

    .vision-section h2 {
        font-size: 28px;
    }

    .vision-section p {
        font-size: 10px;
    }

    .vision-section {
        position: relative;
    }

    .promise-image {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .vision-section .contact {
        height: 40px;
        position: relative;
        bottom: 450px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 10px;
        color: white;
        background: transparent;
        border: 2px solid white;
        cursor: pointer;
        transition: transform 0.1s, box-shadow 0.5s;
        font-family: 'superbrigade';
        top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .contact:hover {
        background: linear-gradient(45deg, blue, purple);
        transform: translateY(-5px);
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
    }
}

/* Responsive design - laptop and tablets. */
@media (max-width: 1024px) {

    body {
        padding: 0px;
        text-align: center;
        width: 100%;
    }

    .who-we-are h2 {
        font-size: 28px;
    }

    .who-we-are p {
        font-size: 10px;
    }

    .vision-section h2 {
        font-size: 28px;
    }

    .vision-section p {
        font-size: 10px;
    }

    .vision-section {
        position: relative;
    }

    .promise-image {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .vision-section .contact {
        height: 40px;
        position: relative;
        bottom: 450px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 10px;
        color: white;
        background: transparent;
        border: 2px solid white;
        cursor: pointer;
        transition: transform 0.1s, box-shadow 0.5s;
        font-family: 'superbrigade';
        top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .contact:hover {
        background: linear-gradient(45deg, blue, purple);
        transform: translateY(-5px);
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
    }
}