body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin-top: 50px;
    overflow: hidden;
  }

.navbar .icon-container {
    padding-right: 100px;
}

.container {
    display: flex;
    width: 100%;
    height: calc(100% - 50px);
}

.left-container {
    flex: 3;
    background-color: #ffffff;
    padding: 20px;
    overflow-y: auto;
}

.right-container {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.summary-box {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

ul {
    list-style: none;
}

li {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info {
    flex: 2;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.summary-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.total-price {
    font-size: 1.5em;
    margin-top: 10px;
}

.checkout-button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #28a745;
}

.checkout-button:hover {
    background-color: #218838;
}

.empty-basket {
    text-align: center;
    color: #999;
    margin-top: 20px;
}