/* CSS by Tobias Singh - 230073379 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-image: url(../images/Externalmade/19.png);
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar .icon-container {
  padding-right: 100px;
}

/* Checkout Form */
.checkout-form {
  display: flexbox;
  flex-direction: column;
  gap: 15px;
  padding: 100px;
  padding-top: 35px;
  padding-bottom: 35px;
  max-width: 100%;
  margin: 0 auto;
  max-width: 500px;
  background-color: black;
  margin-top: 150px;
  margin-bottom: 150px;
  box-shadow: 0px 8px 20px rgb(0, 255, 55);
}

.checkout-form h2 {
  text-align: center;
  color: white;
  font-family: 'superbrigade';
}

.checkout-form input {
  width: 100%;
  padding: 10px;
  padding-right: 0px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'horizon';
}

.checkout-form label {
  color: white;
  font-family: 'superbrigade';
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container button {
  background-color: #00ff26;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'superbrigade';
  box-sizing: content-box;
}

.button-container button:hover {
  background-color: rgba(2, 149, 0, 0.637);
}

/* Responsive Design */
@media (max-width: 600px) {
  
  #checkout-form {
      width: 90%;
  }
}
