/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #614949;
  background-image: url(/images/Externalmade/14.png)
}

/* Checkout Form */
.checkout-form {
  max-width: 500px;
  background: white;
  padding: 20px;
  margin: 30px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout-form h2 {
  text-align: center;
  color: #444;
}

.checkout-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.checkout-form input:focus {
  border-color: #ff6600;
  outline: none;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.button-container button:hover {
  background-color: #cc5500;
}

/* Responsive Design */
@media (max-width: 600px) {
  
  #checkout-form {
      width: 90%;
  }
}
