body {
  background-color: black;
  color: white; 
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'horizon';
  src: url('fonts/horizon.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-family: 'superbrigade';
  src: url('fonts/superbrigade.ttf') format('truetype');
}

.navbar .logo-image {
  margin-top: 15px;
}

/* Contact Section */

.formtitle {
  text-align: center;
  padding-top: 35px;
  font-size: 30px;
  font-family: 'superbrigade';
}

.contactform {
  display: flexbox;
  flex-direction: column;
  gap: 15px;
  padding: 100px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.contactform input, .contactform textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.contactform textarea {
  resize: vertical;
  font-family: 'horizon';
}

.contactform input[type="submit"] {
  background: #0099ff;
  color: black;
  border: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'superbrigade';
}

.contactform input[type="submit"]:hover {
  background: rgba(0, 153, 255, 0.637);
}

.contactform label {
  font-family: 'superbrigade';
}

.contactform input {
  font-family: 'horizon';
}

.prefcontact {
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}

.prefcontact label {
  display: block;  
  margin-bottom: 10px;  
  font-weight: bold;
}

/* Style the radio buttons container */
#contactMethodTitle {
  display: flex;
  align-items: center; 
  gap: 20px; 
}

.prefcontact input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#contactMethodTitle label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0; 
}

.prefcontact input[type="radio"]:checked {
  background-color: #0099ff;
  border-color: #0099ff;
}

.prefcontact input[type="radio"]:checked::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.prefcontact input[type="radio"]:hover {
  border-color: #0099ff;
}

.prefcontact input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      text-align: center;
  }

  .nav-links {
      flex-direction: column;
      gap: 10px;
  }

  .contact {
      width: 90%;
  }

  .footer-container {
      flex-direction: column;
      text-align: center;
  }
}