body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url(../images/Externalmade/24.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    margin-top: 150px;
    margin-bottom: 150px;
}

.navbar .icon-container {
    padding-right: 35px;
}

.heading {
    color: white;
    text-align: center;
    font-family: 'superbrigade';
    padding-top: 30px;
}

.news-section, .timeline-section {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    padding-top: 20px;
    width: 60%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0px 8px 20px #00eaff;
    border-radius: 8px;
}

.news-section h2, .timeline-section h2 {
    color: #00eaff;
    text-align: center;
    font-family: 'superbrigade';
}

ul {
    list-style: none;
    padding: 0;
    color: white;
}

li {
    background: black;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 8px 20px #00eaff;
    font-family: 'horizon';
    text-align: center;
}

li strong {
    color: #00eaff;
}

li span {
    font-size: 14px;
    color: #666;
}

/* Timeline Styling */
.timeline {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.event {
    background: black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 8px 20px #00eaff;
    font-family: 'horizon';
    text-align: center;
    transition: background 0.3s;
}

.event:hover {
    background-color: #008bbf;
    color: black;
}

.event h3 {
    color: #00eaff;
    font-family: 'superbrigade';
}

.event p {
    color: white;
    font-size: 16px;
}

/* Button Styling */
button {
    background-color: #00eaff;
    color: black;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    width: 100%;
    margin-top: 20px;
    font-family: 'superbrigade';
}

button:hover {
    background-color: #008bbf;
}
