/* Creating a CSS file for the fonts so it's easier to swap fonts
Created by Safa Riasat (230078145)*/

/* Importing Poppins font */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap'); */

@font-face {
    font-family: 'horizon';
    src: url('fonts/horizon.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-family: 'superbrigade';
    src: url('fonts/superbrigade.ttf') format('truetype');
}

/* Apply font to everything */
* {
	font-family: 'horizon';
  }
