/* Footer HTML initialised by Elisha.  
Changes to design, structure and CSS made by Sahil.
*/

@font-face {
    font-family: 'horizon';
    src: url('fonts/horizon.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-family: 'superbrigade';
    src: url('fonts/superbrigade.ttf') format('truetype');
}

footer {
    color: white;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    text-align: left;
    gap: 20px;
    background-color: black;
    text-align: center; /* Adjusted the footer - Sahil. */
}

.footer-section {
    flex: 1;
    min-width: 250px;
}

.footer-section h3 {
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding-bottom: 5px;
    font-family: 'superbrigade';
}

.footer-section p, a {
    font-family: 'horizon'; /* Updated the font of the text in the footer - Sahil. */
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a,
.footer-section p a {
    color: #bbb;
    text-decoration: none;
}

.footer-section ul li a:hover,
.footer-section p a:hover {
    color: white;
    text-decoration: underline;
}

/* Responsive design - mobile. */
@media (max-width: 768px) {

    .footer-container {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .footer-section h3 {
        font-size: 20px;
    }

    .footer-section a, p {
        font-size: 12px;
        text-align: center;
    }

    .footer-section {
        align-items: center;
    }

    .footer-section ul {
        text-align: center;
    }
}

/* Responsive design - laptop and tablets. */
@media (max-width: 1024px) {
    
    .footer-container {
        text-align: center;
        display: flex;
        flex-direction: row;
    }
}